---
import { colorVariants } from "./knowledges";

const { title } = Astro.props;

const color = colorVariants[title as keyof typeof colorVariants];
---

<article class={`${color} px-3 py-1 rounded-md`}>
  <p class="text-black">{title}</p>
</article>
