---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Badge from "./Badge.astro";
import { knowledges, colorVariants } from "./knowledges";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { langs, frameworks, tools } = knowledges;
---

<section class="flex flex-col gap-5">
  <h3 class="text-black">{t("knowledges.title")}</h3>

  <div class="flex flex-col gap-2">
    <h4>{t("knowledges.langs")}</h4>
    <div class="flex gap-1 flex-wrap">
      {langs.map((l) => <Badge title={l} />)}
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <h4>{t("knowledges.frameworks")}</h4>
    <div class="flex gap-1 flex-wrap">
      {frameworks.map((f) => <Badge title={f} />)}
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <h4>{t("knowledges.tools")}</h4>
    <div class="flex gap-1 flex-wrap">
      {tools.map((t) => <Badge title={t} />)}
    </div>
  </div>
</section>
