---
import Info from "./Info.astro";
import LangSwitcher from "./LangSwitcher.astro";
import Presentation from "./Presentation.astro";
---

<section
  class="flex flex-col justify-between items-center gap-5 relative pt-14 sm:flex sm:flex-row"
>
  <LangSwitcher />
  <Presentation />
  <Info />
</section>
