---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article
  class="flex flex-col-reverse items-center sm:flex-col sm:justify-end sm:items-end"
>
  <div class="flex mr-5 w-full justify-end items-center sm:mr-1">
    <p class="text-black">{t("head.myResume")}</p>
    <img
      src="/src/assets/bottomArrow.svg"
      alt="Flecha"
      class="hidden w-7 sm:inline"
    />

    <img src="/src/assets/topArrow.svg" alt="Flecha" class="w-7 sm:hidden" />
  </div>

  <div class="flex gap-4 sm:gap-1">
    <a href="https://www.linkedin.com/in/fakuortiz" target="_blank">
      <img src="/src/assets/linkedin.svg" alt="Linkedin" class="w-10 sm:w-7" />
    </a>

    <a href="https://github.com/FakuOrtiz" target="_blank">
      <img src="/src/assets/github.svg" alt="Github" class="w-10 sm:w-7" />
    </a>

    <img src="/src/assets/cv.svg" alt="CV" class="w-10 sm:w-7" />
  </div>
</article>
