---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col gap-5">
  <h3 class="text-black">{t("about.title")}</h3>
  <p>{t("about.content")}</p>
</section>
