---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col gap-5">
  <h3 class="text-black font-bold">{t("contact.title")}</h3>

  <div class="flex flex-col gap-3">
    <a
      href="mailto:facundoagustinortiz@gmail.com"
      target="_blank"
      class="flex gap-1 items-center text-[#FF7A7A]"
    >
      <img src="/img/email.svg" alt="Email" class="w-7" />
      facundoagustinortiz@gmail.com
    </a>

    <a
      href="https://www.linkedin.com/in/fakuortiz"
      target="_blank"
      class="flex gap-1 items-center text-[#78A6FF] w-fit"
    >
      <img src="/img/linkedin.svg" alt="Linkedin" class="w-7" />
      LinkedIn
    </a>

    <a
      href="https://github.com/FakuOrtiz"
      target="_blank"
      class="flex gap-1 items-center text-[#545454] w-fit"
    >
      <img src="/img/github.svg" alt="GitHub" class="w-7" />
      GitHub
    </a>

    <a
      href={t("head.resumeLink")}
      target="_blank"
      class="flex gap-1 items-center text-[#D988FF] w-fit"
    >
      <img src="/img/cv.svg" alt="CV" class="w-7" />
      CV
    </a>
  </div>
</section>
