.containerCard {
  display: flex;
  margin-left: 30vw;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  width: 70vw;
  box-sizing: border-box;
}

.containerAll {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}

.titleContainer {
  margin-left: 4rem;
}

.line {
  width: 40px;
  height: 8px;
  background-color: #ff5c5c;
  border-radius: 20px;
}

.containerProjects {
  display: flex;
  gap: 3.3%;
  justify-content: center;
  height: 360px;
}

.containerScript {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}

.scriptIMG {
  max-width: 150px;
  margin: 10px 0;
}

.containerGitHubDeploy {
  display: flex;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
