.containerCard {
  display: flex;
  margin-left: 30vw;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  height: 40vw;
  width: 70vw;
}
